@keyframes delayed-tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0;
  }
  40% {
    opacity: .6;
  }
  to {
    opacity: 1;
  }
}

.animate-delayed-tracking-in-expand {
  animation: delayed-tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
}

.video-container {
  position: relative;
  width: 100%; /* ビデオコンテナの幅 */
  height: 80vh; /* ビデオコンテナの高さをビューポートの高さに設定 */
  overflow: hidden;
  opacity: 60%;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover; /* ビデオがコンテナを覆うように設定 */
}

.text-container3 {
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 10; /* テキストをビデオの上に表示 */
  color: black; /* テキストの色 */
  text-align: center;
}

.heading {
  font-size: 4rem; /* 見出しのフォントサイズ */
  font-weight: bold;
  margin-bottom: 1rem;
}

.sub-heading {
  font-size: 3
}